/* classes */

* {
    scroll-behavior: smooth;
}

.corpo {
    background-image: url(imagens/687755.jpg);
    background-size: full;
    background-attachment: fixed;
    font-family: Arial;
}

.logo_{
    width: 30px;
}

.cabecalho {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 22%;
    background: rgba(217, 65, 65, 0.598);
    box-shadow: 0 8px 32px 0 rgba(217, 65, 65, 0.598);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.cabecalho img{
    width: 32%;
    min-width: 200px;
    
}


.cabecalho a {
    border-radius: 15px;
}

a.imagem:link,
a.imagem:active,
a.imagem:hover,
a.imagem:visited {
    text-align: left;
    color: none;
    text-decoration: none;
    background-color: none;
    border: none;
    font-family: none;
    font-size: none;
    transition: 0.4s;
}

a.fixo:link,
a.fixo:visited {
    padding: 5px;
    font-family: arial;
    font-size: 27px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background-color: transparent;
}

a.fixo:hover,
a.fixo:active {
    padding: 5px;
    font-family: arial;
    font-size: 30px;
    text-decoration: underline;
    color: black;
    text-decoration-color: #740000;
    background-color: transparent;
}

a.fixo:hover {
    font-size: 30px;
    transition: 0.5s;
}

a.fixo {
    transition: 0.5s;
    /**/
}

.divmae {
    width: 80%;
    margin-top: 10%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 40px;
}

.conteudo {
    text-align: justify;
    width: 97%;
    background-color: #e83b31;
    border-radius: 20px;
    padding-top: 1px;
    font-size: 18px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 5px;
    margin-bottom: 20px;
    color: black;
}

.titulo{
    text-align: center;
    width: 98%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    padding-top: 5%;
    padding-bottom: 2.5%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    background-color: transparent;
    color: #740000;
}

.titulo2{
    text-align: center;
    width: 98%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-top: 2%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    background-color: transparent;
    color: #740000;
}

.subtitulo{
    text-align: left;
    width: 98%;
    margin-top: 13px;
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    color: #740000;
}

.imagem {
    text-align: center;
    margin-bottom: 1%;
}

.cabecalho .imagem {
    margin-right: 5%;
    margin-left: 5%;
    
}

p {
    font-family: arial;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: justify;
}

h1{
    font-family: arial;
    font-size: 40px;
    color: black;
    margin-top: 23px;
}

.quadropequeno {
    background-color: #e83b31;
    margin-left: 2.5%;
    border-radius: 10px;
    float: left;
    width: 30%;
    margin-bottom: 30px;
}

.container {
    display: flex;
    align-items: center;
  }

.quadroesquerdo {
    background-color: #e83b31;
    margin-left: 2.5%;
    border-radius: 10px;
    width: 32%;
}

  .quadromedio {
    background-color: white;
    padding-left: 1%;
    width: 62%;
  }


.voltartopo {
    width: 98%;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-top: 20px;
}

a.botao:link,
a.botao:visited {
    padding: 5px;
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: solid;
    border-color: black;
    border-radius: 15px;
    background-color: #ca0d0d;
    transition: 0.2s;
}

a.botao:hover,
a.botao:active {
    padding: 5px;
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: solid;
    border-color: black;
    border-radius: 15px;
}

a.botao:hover {
    background-color: black;
    color: #ca0d0d;
    transition: 0.2s;
}

/* ids */
#imggrande {
    width: 99%;
    border-radius: 40px;
}

#imgpequena {
    width: 100%;
    border-radius: 10px;
}

#imgmedia {
    width: 100%;
    border-radius: 10px;
}


#quadropequeno,
#quadromedio {
  flex: 1;
  border-radius: 10px;
  margin-right: 1%;
  margin-bottom: 3%;
}

#quadropequeno {
  background-color: #e83b31;
  width: 45%;
  margin-left: 1%;
  border: solid;
  padding-left: 10px;
  border-width: 1px;
}

#quadromedio {
  background-color: white;
  width: 50%;
}

#quadropequeno2,
#quadromedio2 {
  flex: 1;
  border-radius: 10px;
  margin-right: 1%;
  margin-bottom: 3%;
}

#quadropequeno2 {
  background-color: #e83b31;
  width: 45%;
  border: solid;
  padding-left: 10px;
  border-width: 1px;
}

#quadromedio2 {
    margin-left: 1%;
    background-color: white;
    width: 50%;
}


@media screen and (max-width: 1200px){
    .corpo {
        display: block;
        background-image: none;
    }
    .fixo{
        font-size: 5px;
        
    }
}